@model Vendor.Domain.Entites.Branch.BranchStaff

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>BranchStaff</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TechnicalCount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TechnicalCount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NonTechnicalCount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NonTechnicalCount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UploadInsurance)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UploadInsurance)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BranchStaffType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BranchStaffType.Id)
        </dd class>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
