@model Vendor.Domain.Entites.Branch.BranchStaff

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>BranchStaff</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TechnicalCount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TechnicalCount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NonTechnicalCount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NonTechnicalCount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UploadInsurance)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UploadInsurance)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BranchStaffType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BranchStaffType.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
